@page "/Events/{Id:int}"
@using Alfred.Client.Dtos.Events
@using Alfred.Client.Services.Interfaces
@using Alfred.Client.Pages.Events.Components
@inject IApiService ApiService
<RadzenCard Style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-12 mb-2">
            <a href=@($"/Events/")>
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="navigate_before" Text="Back" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ViewEventInfo Event="@_event"/>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <ViewMoreDetails Event="@_event"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ViewSchedule Event="@_event"/>
                </div>
            </div>
        </div>
    </div>

</RadzenCard>

@if (_loading)
{
    <div class="spinner"></div>
}

@code{

    [Parameter]
    public int Id { get; set; }

    bool _loading = false;
    EventForDetailedViewDto _event = new EventForDetailedViewDto();

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        var client = await ApiService.Client();
        _event = await client.GetFromJsonAsync<EventForDetailedViewDto>($"/events/api/events/{Id}");
        client.Dispose();
        _loading = false;
    }

}