@page "/"
@inject IAuthService AuthService

<AuthorizedView Role=@($"{Roles.Admin},{Roles.Core},{Roles.Editor},{Roles.Staff}")>
<h1>Hello, @User.Id</h1>
  <RadzenButton Text="@text"></RadzenButton>
  Welcome to Alfred
</AuthorizedView>
@code {
  string text = "Hi";
  User User = new User();
  protected override async Task OnInitializedAsync()
  {
    await AuthService.Authorize();
    User = AuthService.User;
  }

}

