@using Alfred.Client.Dtos.Events
<RadzenFieldset Text="Schedule">

    <div class="row">
        <div class="col-md-3 align-items-center d-flex">
            <RadzenLabel Text="Venue"/>
        </div>
        <div class="col-md-9">
            <RadzenTextBox style="width: 100%;" @bind-value="Event.Venue"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 align-items-center d-flex">
            <RadzenLabel Text="Day"/>
        </div>
        <div class="col-md-9">
            <RadzenNumeric style="width:100%" @bind-Value="@Event.Day" Placeholder="Enter or clear"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 align-items-center d-flex">
            <RadzenLabel Text="Date Time"/>
        </div>
        <div class="col-md-9">
            <RadzenDatePicker ShowTime="true" style="width:100%" Name="EventDateTime" @bind-Value="Event.Datetime" HourFormat="12" DateFormat="MM/dd/yyyy h:mm tt"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 align-items-center d-flex">
            <RadzenLabel Text="Number of Rounds"/>
        </div>
        <div class="col-md-9">
            <RadzenNumeric TValue="int?" style="width:100%" @bind-Value="@Event.NumberOfRounds" Placeholder="Enter or clear"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 align-items-center d-flex">
            <RadzenLabel Text="Current Round"/>
        </div>
        <div class="col-md-9">
            <RadzenNumeric TValue="int?" style="width:100%" @bind-Value="@Event.CurrentRound" Placeholder="Enter or clear"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 align-items-center d-flex">
            <RadzenLabel Text="Event Status"/>
        </div>
        <div class="col-md-9">
            <RadzenDropDown @bind-Value="Event.EventStatusId" AllowClear="true" Placeholder="Select something" Data="@_constants.EventStatus.Select(eventStatus => new {Id = _constants.EventStatus.IndexOf(eventStatus), Value = eventStatus})" style="width: 100%;" TextProperty="Value" ValueProperty="Id">
            </RadzenDropDown>
        </div>
    </div>

</RadzenFieldset>

@code{
    [Parameter]
    public DataForAddingEventDto Event { get; set; }
    Constants _constants = new Constants();
    protected override async Task OnInitializedAsync()
    {
        _constants = await State.GetConstants();
    }

}